extends layout

block content
  div(class="columns")
    include leftpan
                    
    div(class="column")
     
      div(class="container is-fluid right-side")

        div(class="tile is-vertical  is-ancestor")
          div(class="tile is-parent is-vertical")
            div
              p(style="float:right;", class="title")
                a(href="/projects") To see my projects
            article(class="tile is-child box summary") 
                p(class="title") About me
                div(class="content")
                  ul 
                    li 
                      p #{data.summary}
                
            article(class="tile is-child box ")     
              p(class="title") Volunteer Experience
              div(class="content volunteer")
                ul
                  each val in data.volunteer
                    div(class="columns")
                        div(class="column")
                          span(class="date") #{val.startDate} - #{val.endDate}
                        div(class="column is-four-fifths")
                          li 
                            h2
                              a(href=val.website) #{val.organization}
                            h3 #{val.position} 
                            p #{val.summary}
            
            article(class="tile is-child box")
              p(class="title") Education
              div(class="content education")
                ul 
                  each val in data.education
                    div(class="columns")
                        div(class="column")
                          span(class="date") #{val.date}
                        div(class="column is-four-fifths")
                          li 
                            h2 
                              a(href=val.link) #{val.institution}
                            h3 #{val.area}
                            p #{val.summary}
                            
            article(class="tile is-child box")
              p(class="title") Awards
              div(class="content education")
                ul 
                  each val in data.awards
                    div(class="columns")
                        div(class="column")
                          span(class="date") #{val.date}
                        div(class="column is-four-fifths")
                          li 
                            h2 #{val.title}
                            p #{val.awarder}
                                
            article(class="tile is-child box") 
              p(class="title") Interests        
              div(class="content interests has-text-centered")
                div(class="columns")
                  -var n = 0
                  while n < 4
                      div(class="column")
                            img(src="/images/"+data.interests[n].img)
                            p #{data.interests[n].name}
                            -n++
                div(class="columns")
                  -var n = 4
                  while n < 8
                      div(class="column")
                            img(src="/images/"+data.interests[n].img)
                            p #{data.interests[n].name}
                            -n++
