extends layout

block content
  div(class="columns")
    div(class="column is-one-quarter left-side")

      div(class="container is-fluid info has-text-centered info")
        img(src="/images/profile.png")
        p(class="title") #{data.name}
        p(class="subtitle") #{data.title}
        -function calculateAge(birthday) {var ageDifMs = Date.now() - new Date(birthday).getTime(); var ageDate = new Date(ageDifMs); return Math.abs(ageDate.getUTCFullYear() - 1970);}
        p(class="subtitle") #{calculateAge(data.dateofbirth)} years old
        p(class="subtitle") #{data.location.city} -  #{data.location.country}
        
      div(class="container is-fluid")              
        div(class="languages")
          p(class="title is-4") Language Skills
          ul
            each val in data.languages
              li 
                h2 #{val.language}
                progress(class="progress is-primary", value=val.level, max="100") #{val.level}%
                
      div(class="container is-fluid")                          
        div(class="skills")
          p(class="title is-4") Developer Skills
          ul 
            each val in data.devskills
              li
                  span #{val.name}
                  progress(class="progress is-primary", value=val.level, max="100") #{val.level}%
                  
      div(class="container is-fluid")
        div(class="skills")
          p(class="title is-4") Tool Skills
          ul 
            each val in data.toolskills
              li
                  span #{val.name}
                  progress(class="progress is-primary", value=val.level, max="100") #{val.level}%
      div(class="container is-fluid")
        div(class="skills")
          p(class="title is-4") Other Skills
          p Android, PHP, SQL, MacOS
                  
      div(class="container is-fluid") 
        div(class="social")
            ul
              each val in data.profiles
                li
                  a(href=val.url) 
                    i(class=val.icon)
                      
    div(class="column")
        div(class="container")
        div(class="tile is-vertical  is-ancestor")
          div(class="tile is-parent is-vertical")
              
            article(class="tile is-child box")     
              p(class="title") Volunteer Experience
              div(class="content volunteer")
                
                ul
                  each val in data.volunteer
                    #{val.startDate} - #{val.endDate}
                    li 
                      h2
                        a(href=val.website) #{val.organization}
                      h3 #{val.position} 
                      p #{val.summary}
            
            article(class="tile is-child box")
              p(class="title") Education
              div(class="content education")
                ul 
                  each val in data.education
                    #{val.date}
                    li 
                      h2 #{val.institution}
                      h3 #{val.area}
                      p #{val.summary}
                    
            
          
            article(class="tile is-child box")          
              div(class="content interests")
                ul 
                  each val in data.interests
                    li 
                      h3 #{val.name}
